/* uni-app x 全局样式变量 */
$uni-color-primary: #ff6a00;
$uni-color-success: #52c41a;
$uni-color-warning: #fa8c16;
$uni-color-error: #f5222d;
$uni-color-text: #333333;
$uni-color-text-light: #999999;
$uni-bg-color: #f5f6f8;